@font-face {
    font-family: "Roboto";
    src: url(../fonts/static/Roboto-Medium.ttf);
}

body {
    font-family: "Roboto";
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 3em;
}

h3 {
    font-size: 4em;
}

a {
    margin-top: 20%6;
}

.header-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style-type: none;
}

.banner {
    background-image: url(../img/banner.jpg);
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: white;
}

.destination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 30px;
}

.destination-card {
    border-radius: 15px;
    box-shadow: 0px 1px 10px grey;
    overflow: hidden;
    width: 30%;
    padding-bottom: 10%;
    position: relative;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.destination-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.destination-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.destination-title {
    border-bottom: 3px solid #000000;
}

.btn {
    display: inline-block;
    position: absolute;
    padding: 10px 50px;
    max-width: 200px;
    color: white;
    top: 90%;
}

.paris-btn {
    background-color: #6C3483;
}

.tokyo-btn {
    background-color: #CB4335;
}

.ny-btn {
    background-color: #2774A6;
}